/*** MAIN ***/
html, body, main {
    height: 100%;
}

body * {
    font-family: Verdana, Arial, sans-serif;
}

main {
    display: flex;
}

/*** MAP ***/
.map {
    flex-basis: 70%;
    flex-grow: 1;
}

.name-input {
    position: absolute;
    display: none;
    width: 150px;
    padding: 3px 5px;
    background-color: rgba(255,255,255,.7);
    border: none;
    border-radius: 5px;
}.visible {
    display: inline;
}

/*** INFO MESSAGES ***/
.info {
    overflow: hidden;
    display: flex;
}
.info h1 {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
}
.info .img {
    margin-right: 10px;
}

/*** PANEL ***/
.panel {
    flex-basis: 30%;
    padding: 10px;

    display: flex;
    justify-content: flex-start;
    flex-direction: column;

    min-width: 180px;
    max-width: 320px;
}

.panel-label {
    visibility: hidden;
    margin: 10px 0;
    align-self: center;
    font-size: 11px;
    color: #666;
}.adding-mode .panel-label {
    visibility: visible;
}

/*** BUTTON ***/
.btn  {
    align-self: center;
    padding: 7px 14px;

	background-color: #e0ffa3;
	border-radius: 6px;
	border: 2px solid #127a00;
	color: #127a00;
	font-size: 14px;
	font-weight: bold;
	font-style: normal;
    transition: background-color 300ms linear;
}.btn:hover {
	background-color:#b4ff69;
}.btn:active {
	position:relative;
	top:1px;
}

/*** PLACES LIST ***/
.places-list li {
    margin-bottom: 1px;
    background-color: #f1f1f1;
    transition: background-color 300ms linear;
}.places-list li:hover {
    background-color: #ddd;
}.places-list li a {
    display: block;
    padding: 7px 12px;
    text-decoration: none;
    color: #222;
}.places-list .active {
    background-color: #ddd;
}
